{% extends "movies/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'movies/movie_list.css' %}">
{% endblock %}

{% block content %}
    {% for movie in movies.results %}
        <article class='movie'>
            <img src='https://image.tmdb.org/t/p/w300/{{movie.poster_path}}' alt='A poster for {{ movie.title }}'>
            <p>{{ movie.title }}</p>
            <p>{{ movie.release_date }}</p>
            <p>{{ movie.vote_average }}</p>
        </article>
    {% endfor %}
{% endblock %}