{% extends "movies/base.html" %}
{% load static %}

{% block title %}Showtime+ ({{ movies.results | length }}){% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'movies/movie_list.css' %}">
{% endblock %}

{% block content %}
    {% for movie in movies.results %}
    <a class="movie-link" href="{% url 'movies:detail' movie.id %}">
        <article class='movie'>
            <img src='https://image.tmdb.org/t/p/w300/{{movie.poster_path}}' alt='A poster for {{ movie.title }}'>
            <div class='movie-details'>
                <p>{{ movie.title }}</p>
                <p>Released on {{ movie.release_date | date:"F dS"}}</p>
                <p class="rating">TMDb Community Rating: {{ movie.vote_average | floatformat:1 }}/10</p>
            </div>
        </article>
    </a>
    {% endfor %}
{% endblock %}
    